@import "variables";

:host {
	mat-toolbar {
		background-color: $aqua-one;

		mat-icon {
			color: $light-yellow;
		}
	}

	a {
		text-decoration: none;
		color: $yellow;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

::ng-deep .custom-class button a {
	text-decoration: none;
	color: #000000de;
}
