<mat-toolbar>
	<div fxHide.gt-xs>
		<button mat-icon-button (click)="onToggleSidenav()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	<!-- Mobile Version -->
	<div
		*ngIf="isLoggedIn$ | async"
		fxFlex
		fxLayout
		fxLayoutAlign="space-evenly center"
		fxHide.gt-xs
	>
		<!-- <mat-nav-list> -->
		<button class="nav__button">
			<a routerLink="/home"><mat-icon>home</mat-icon></a>
		</button>
		<button class="nav__button">
			<a routerLink="#"><mat-icon>search</mat-icon></a>
		</button>
		<button class="nav__button">
			<a routerLink="#"><mat-icon>notifications</mat-icon></a>
		</button>
		<button class="nav__button">
			<a routerLink="#"><mat-icon>message</mat-icon></a>
		</button>
		<!-- </mat-nav-list> -->
	</div>
	<!-- Desktop Version -->
	<ng-container
		*ngIf="isLoggedIn$ | async; then accessAllowed; else accessDenied"
	></ng-container>
	<ng-template #accessAllowed>
		<div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
			<ul fxLayout fxLayoutGap="8px" fxLayoutAlign="flex-end">
				<!-- Home -->
				<div class="link__caption__allowed">
					<a
						routerLink="/home"
						fxFlex
						fxLayout="column"
						fxLayoutAlign="center center"
						><mat-icon>home</mat-icon
						><span class="header__caption">Home</span></a
					>
				</div>
				<!-- Search -->
				<div class="link__caption__allowed">
					<a
						routerLink="#"
						fxFlex
						fxLayout="column"
						fxLayoutAlign="center center"
						><mat-icon>search</mat-icon
						><span class="header__caption">Search</span></a
					>
				</div>
				<!-- Explore -->
				<div class="link__caption__allowed">
					<a
						routerLink="#"
						fxFlex
						fxLayout="column"
						fxLayoutAlign="center center"
						><mat-icon>explore</mat-icon
						><span class="header__caption">Explore</span></a
					>
				</div>
				<!-- Training -->
				<div class="link__caption__allowed">
					<a
						routerLink="/training"
						fxFlex
						fxLayout="column"
						fxLayoutAlign="center center"
						><mat-icon>fitness_center</mat-icon
						><span class="header__caption">Training</span></a
					>
				</div>
				<!-- Notification -->
				<div class="link__caption__allowed">
					<a
						routerLink="#"
						fxFlex
						fxLayout="column"
						fxLayoutAlign="center center"
						><mat-icon>notifications</mat-icon
						><span class="header__caption">Notifications</span></a
					>
				</div>
				<!-- Messages -->
				<div class="link__caption__allowed">
					<a
						routerLink="#"
						fxFlex
						fxLayout="column"
						fxLayoutAlign="center center"
						><mat-icon>messages</mat-icon
						><span class="header__caption">Messages</span></a
					>
				</div>
				<!-- Person Pin -->
				<button
					mat-icon-button
					[matMenuTriggerFor]="menu"
					aria-label="Example icon-button with a menu"
				>
					<mat-icon>person_pin</mat-icon>
				</button>
				<mat-menu #menu="matMenu" class="custom-class">
					<!-- Profile -->
					<button mat-menu-item routerLink="/profile">
						<mat-icon>face</mat-icon><span>Profile</span>
					</button>
					<!-- logout -->
					<button mat-menu-item (click)="onLogout()">
						<mat-icon>power_settings_new</mat-icon
						><span>Logout</span>
					</button>
				</mat-menu>
			</ul>
		</div>
	</ng-template>
	<!-- Access Denied -->
	<ng-template #accessDenied>
		<div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
			<ul fxLayout fxLayoutGap="8px" fxLayoutAlign="space-between">
				<div>
					<div class="logo">
						<img src="/assets/images/gg2.jpg" alt="logo.jpg" />
					</div>
				</div>
				<div class="denied__container">
					<div class="link__caption__denied">
						<a
							routerLink="/auth/signup"
							fxFlex
							fxLayout="column"
							fxLayoutAlign="center center"
							><mat-icon>face</mat-icon
							><span class="header__caption">Signup</span></a
						>
					</div>
					<div class="link__caption__denied">
						<a
							routerLink="/auth/login"
							fxFlex
							fxLayout="column"
							fxLayoutAlign="center center"
							><mat-icon>input</mat-icon
							><span class="header__caption">Login</span></a
						>
					</div>
				</div>
			</ul>
		</div>
	</ng-template>
</mat-toolbar>
