<mat-toolbar>
	<div fxHide.gt-xs>
		<button mat-icon-button (click)="onToggleSidenav()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	<div><a routerLink="/home">Logo</a></div>
	<div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
		<ul fxLayout fxLayoutGap="10px" fxLayoutAlign="center center">
			<ng-container
				*ngIf="
					isLoggedIn$ | async;
					then accessAllowed;
					else accessDenied
				"
			></ng-container>
			<ng-template #accessAllowed>
				<!-- Home -->
				<li><a routerLink="/home">Home</a></li>
				<!-- Person Pin -->
				<button
					mat-icon-button
					[matMenuTriggerFor]="menu"
					aria-label="Example icon-button with a menu"
				>
					<mat-icon>person_pin</mat-icon>
				</button>
				<mat-menu #menu="matMenu" class="custom-class">
					<!-- Profile -->
					<button mat-menu-item>
						<mat-icon>face</mat-icon><span>Profile</span>
					</button>
					<!-- Training -->
					<button mat-menu-item>
						<mat-icon>fitness_center</mat-icon
						><span><a routerLink="/training">Training</a></span>
					</button>
					<!-- logout -->
					<button mat-menu-item (click)="onLogout()">
						<mat-icon>power_settings_new</mat-icon
						><span>Logout</span>
					</button>
				</mat-menu>
			</ng-template>

			<ng-template #accessDenied>
				<li>
					<a routerLink="/auth/signup">Signup</a>
				</li>
				<li>
					<a routerLink="/auth/login">Login</a>
				</li>
			</ng-template>
		</ul>
	</div>
</mat-toolbar>
