@import "variables";
// @import "/src/app/shared/scss/variables";

:host {
	.new__training {
		padding: 30px;

		form {
			width: 100%;

			mat-card-title {
				padding: 20px 0;
				color: $dark-aqua;
			}

			::ng-deep .mat-mdc-card {
				background-color: $very-light-yellow;
			}

			button {
				margin-bottom: 10px;
			}
		}
	}
}
