<section>
	<div class="login__form__container">
		<div class="logo__container">
			<div class="logo">
				<img src="/assets/images/gym1.jpg" alt="logo.jpg" />
			</div>
			<h1>Welcome Back</h1>
			<span class="span__account"
				>Don't have an account?
				<span class="signup__button" routerLink="/auth/signup"
					>Create today!</span
				></span
			>
		</div>
		<form
			fxLayout="column"
			fxLayoutAlign="center center"
			fxLayoutGap="10px"
			[formGroup]="loginForm"
			(ngSubmit)="onFormSubmit()"
		>
			<mat-form-field>
				<label for="email"
					>Email
					<span
						matTooltip="This field is required"
						matTooltipPosition="right"
						>*</span
					></label
				>
				<input
					formControlName="email"
					type="text"
					matInput
					placeholder="Your email"
				/>
				<mat-error
					*ngIf="loginForm.controls.email.invalid || isFormSubmitted"
					>Invalid Email
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<label for="password"
					>Password
					<span
						matTooltip="This field is required"
						matTooltipPosition="right"
						>*</span
					></label
				>
				<input
					type="password"
					formControlName="password"
					matInput
					placeholder="Your password"
				/>
				<mat-error
					*ngIf="
						loginForm.controls.password.invalid || isFormSubmitted
					"
					>Invalid Password</mat-error
				>
			</mat-form-field>
			<div class="forgot__password">
				<p routerLink="/auth/forgot-password">Forgot password?</p>
			</div>
			<button
				type="submit"
				mat-raised-button
				[disabled]="loginForm.invalid"
			>
				Sign In
			</button>
		</form>
	</div>
</section>
