$box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
$box-shadow1: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$background-color: #212020;
$black: #101e2c;
$aqua-one: #177074;
$aqua-two: #1d9c96;
$dark-aqua: #045a56;
$light-purple: #5454f3;
$blue: #005dfd;
$yellow: #f4c514;
$orange: #ff7700;
$light-yellow: #ebc89b;
$very-light-yellow: #fce7cb;
$white: #ffffff;
$light-green: linear-gradient(to right, #f4c514 -16%, #ff7700 89%);
