<section>
	<div class="reset__form__container">
		<h3>Trouble loggin in?</h3>
		<p>
			Enter your email and we'll send you a link to get back into your
			account.
		</p>
		<form
			fxLayout="column"
			fxLayoutAlign="center center"
			fxLayoutGap="10px"
			[formGroup]="resetPasswordForm"
			(ngSubmit)="onFormSubmit()"
		>
			<mat-form-field>
				<input
					formControlName="email"
					type="text"
					matInput
					placeholder="Your email"
				/>
				<mat-error
					*ngIf="
						resetPasswordForm.controls.email.invalid ||
						isFormSubmitted
					"
					>Invalid Email</mat-error
				>
			</mat-form-field>
			<button
				type="submit"
				color="accent"
				mat-raised-button
				[disabled]="resetPasswordForm.invalid"
				routerLink="email-sent"
			>
				Send login link
			</button>
			<div class="span__container">
				<span></span>
				<p>OR</p>
				<span></span>
			</div>
			<h4 routerLink="/auth/signup">Create new account</h4>
		</form>
	</div>
</section>
