<div class="post" (click)="onPostSelect()">
	<div class="post-heading">
		<h3>{{ post.title }}</h3>
		<span class="likes-display">
			<span class="like" (click)="onPostLike($event)">
				<i>👍</i>
				{{ post.likes }}
			</span>
		</span>
	</div>
	<div class="post-body">
		{{ post.body }}
	</div>
	<div class="post-footer">
		<span>
			<i class="fa fa-user-circle"></i> {{ post.author.firstName }}
			{{ post.author.lastName }} on
			<span>{{ post.createdAt | date }}</span> |
			<span>{{ post.createdAt | date : "shortTime" }}</span>
		</span>
		<div class="comments">
			<span>Comments: {{ post.comments.length }}</span>
		</div>
	</div>
</div>
