@use "../../../../shared/scss/variables" as var;
:host section {
	display: flex;
	justify-content: center;

	.signup__form__container {
		background-color: var.$very-light-yellow;
		box-shadow: var.$box-shadow;
		border-radius: 5px;
		margin-top: 20px;
		width: 350px;
		h3 {
			text-align: center;
			font-size: 25px;
			padding-top: 10px;
			color: var.$dark-aqua;
		}
		button {
			margin: 10px 0;
		}
	}
}

:host mat-form-field,
mat-password-strength {
	width: 300px;
}

:host ::ng-deep .mat-icon.mat-primary {
	color: #0bca0b;
}
