<section>
	<div class="signup__form__container">
		<div class="logo__container">
			<div class="logo">
				<img src="/assets/images/gym1.jpg" alt="logo.jpg" />
			</div>
			<h1>Create Your Account</h1>
			<span>Sign up to see photos and videos from your friends.</span>
		</div>
		<form
			fxLayout="column"
			fxLayoutAlign="center center"
			fxLayoutGap="10px"
			[formGroup]="signupForm"
			(ngSubmit)="onFormSubmit()"
		>
			<mat-form-field>
				<label for="firstName"
					>First Name
					<span
						matTooltip="This field is required"
						matTooltipPosition="right"
						>*</span
					></label
				>
				<input
					formControlName="firstName"
					type="text"
					matInput
					placeholder="First Name"
				/>
				<mat-error *ngIf="signupForm.controls.firstName.invalid"
					>Invalid First Name</mat-error
				>
			</mat-form-field>
			<mat-form-field>
				<label for="lastName"
					>Last Name
					<span
						matTooltip="This field is required"
						matTooltipPosition="right"
						>*</span
					></label
				>
				<input
					formControlName="lastName"
					type="text"
					matInput
					placeholder="Last Name"
				/>
				<mat-error *ngIf="signupForm.controls.lastName.invalid"
					>Invalid Last Name</mat-error
				>
			</mat-form-field>
			<mat-form-field>
				<label for="email"
					>Email
					<span
						matTooltip="This field is required"
						matTooltipPosition="right"
						>*</span
					></label
				>
				<input
					formControlName="email"
					type="text"
					matInput
					placeholder="Your email"
				/>
				<mat-error *ngIf="signupForm.controls.email.invalid"
					>Invalid Email</mat-error
				>
			</mat-form-field>
			<mat-form-field>
				<label for="password"
					>Password
					<span
						matTooltip="This field is required"
						matTooltipPosition="right"
						>*</span
					></label
				>
				<input
					type="password"
					formControlName="password"
					matInput
					placeholder="Your password"
					(input)="change($event)"
				/>
				<mat-error *ngIf="signupForm.controls.password.invalid"
					>Invalid Password</mat-error
				>
			</mat-form-field>
			<mat-password-strength
				(onStrengthChanged)="onStrengthChanged($event)"
				#passwordComponentWithValidation
				[password]="signupForm.controls.password.value"
			>
			</mat-password-strength>
			<mat-password-strength-info
				*ngIf="showDetails"
				[passwordComponent]="passwordComponentWithValidation"
			>
			</mat-password-strength-info>
			<button
				type="submit"
				mat-raised-button
				[disabled]="signupForm.invalid"
			>
				Create account
			</button>
		</form>
	</div>
</section>
