@import "variables";

:host {
	.container {
		padding: 2rem 4rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-heading {
			text-align: center;

			h2 {
				font-size: 25px;
			}
		}

		.form-container {
			background-color: $white;
			box-shadow: $box-shadow2;
			border-radius: 5px;
			padding: 15px 15px;
			width: 50%;

			label {
				font-size: 1.2rem;
				font-weight: 500;
			}

			.form-group {
				width: auto;
				padding: 15px 15px;
				display: flex;
				flex-direction: column;
				border-radius: 8px;
				margin: 25px 0px;
				background-color: $white;
				box-shadow: $box-shadow2;

				input {
					margin-top: 12px;
					border-radius: 5px;
					border: 1px solid #868686;
					height: 28px;
					padding: 0px 5px;
				}

				textarea {
					margin-top: 12px;
					resize: none;
					border-radius: 5px;
					padding: 0px 5px;
				}
			}

			.controls {
				display: flex;
				width: auto;
				justify-content: flex-end;

				button {
					margin-left: 10px;
					width: 140px;
					margin-top: 20px;
					margin-bottom: 0;
					font-size: 1rem;
					align-self: flex-end;
					height: 30px;
					border-radius: 5px;
					cursor: pointer;
				}
			}
		}
	}

	@media only screen and (max-width: 900px) {
		.container {
			padding: 1rem 1rem;

			h2 {
				font-size: 20px;
			}

			.form-container {
				width: auto;
				padding: 15px 25px;
			}
		}
	}
}
