@use "../app/shared/scss/variables" as var;
:host mat-sidenav-container {
	background-color: var.$aqua-two;
}
:host mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
	height: 100%;
}

:host mat-sidenav {
	width: 200px;
	background-color: var.$aqua-one;
}
