:host a {
	text-decoration: none;
	color: white;
}

:host a:hover,
a:active {
	color: lightgrey;
}

:host .navigation__items {
	list-style: none;
	padding: 0;
	margin: 0;

	li:last-child {
		cursor: pointer;
	}
}
