<section>
	<div class="email__sent__container">
		<h3>Check your email</h3>
		<p>We've sent password reset instructions to your email.</p>
		<p>
			If it doesn't arrive soon, check your spam folder or
			<span class="send__again" routerLink="/auth/forgot-password"
				>send the email again.</span
			>
		</p>
		<form
			fxLayout="column"
			fxLayoutAlign="center center"
			fxLayoutGap="10px"
		>
			<div class="span__container">
				<span></span>
				<p>OR</p>
				<span></span>
			</div>
			<h4 routerLink="/auth/signup">Create new account</h4>
		</form>
	</div>
</section>
