<section fxFlex fxLayout="column" fxLayoutGap="10px">
	<div class="profile__container" fxFlex fxLayout="column" fxLayoutGap="10px">
		<div class="profile__info" fxFlex fxLayoutGap="10px">
			<div class="img__wrapper">
				<img src="/assets/images/profileimg.jpg" alt="profile-img" />
			</div>
			<div
				*ngIf="user"
				class="name__wrapper"
				fxFlex
				fxLayoutAlign="flex-start flex-end"
			>
				<div>
					<p>{{ user.firstName }} {{ user.lastName }}</p>
					<p>
						{{ user.gymNickname }}
					</p>
				</div>
			</div>
		</div>
		<div class="profile__info2">
			<div class="button1__wrapper">
				<button (click)="onEdit()">Edit profile</button>
			</div>
			<div class="info2__container">
				<div class="info2__stats">
					<p>43</p>
					<p>photos</p>
				</div>
				<div class="info2__stats">
					<p>750</p>
					<p>followers</p>
				</div>
				<div class="info2__stats">
					<p>430</p>
					<p>following</p>
				</div>
			</div>
		</div>
	</div>
	<div class="about__container">
		<div class="about__container__info" *ngIf="user">
			<div class="country__container">
				<p>{{ user.country }}</p>
				<span *ngIf="user.country">,</span>
				<p>{{ user.city }}</p>
			</div>
			<div class="about__container__info__text">
				<p>
					{{ user.about }}
				</p>
			</div>
		</div>
	</div>
	<div class="stepper__container">
		<mat-tab-group dynamicHeight>
			<!-- My Posts -->
			<mat-tab label="Posts">
				<!-- Create post -->
				<div class="create__post">
					<div class="img__wrapper">
						<img
							src="/assets/images/profileimg.jpg"
							alt="profile-img"
						/>
					</div>
					<div class="post__bar" routerLink="/posts/create">
						<p>Create a post</p>
					</div>
				</div>
				<!-- User posts -->
				<section class="container">
					<div class="posts-container">
						<div class="post" *ngFor="let post of postArray">
							<div class="post-header">
								<div class="post-h-profile">
									<div>
										<div class="img-wrapper">
											<img
												src="/assets/images/profileimg.jpg"
												alt="profile.jpg"
											/>
										</div>
										<div>
											<span class="fullname" *ngIf="user">
												<p>
													{{ user.firstName }}
													{{ user.lastName }}
												</p>
											</span>
											<span class="gymNickname">
												<p>{{ user.gymNickname }}</p>
											</span>
										</div>
									</div>
									<div>
										<button
											mat-icon-button
											[matMenuTriggerFor]="menu"
											aria-label="Example icon-button with a menu"
										>
											<mat-icon>more_vert</mat-icon>
										</button>
										<mat-menu
											#menu="matMenu"
											class="custom-class"
										>
											<!-- Edit -->
											<button mat-menu-item>
												<div>
													<span
														(click)="
															onPostEdit(
																$event,
																post
															)
														"
														class="edit-link"
														>Edit
														<i
															class="fa-solid fa-pen-to-square"
														></i
													></span>
												</div>
											</button>
											<!-- Delete -->
											<button mat-menu-item>
												<div>
													<span
														class="delete-link"
														(click)="
															onPostDelete(
																$event,
																post
															)
														"
													>
														Delete
														<i
															class="fa-solid fa-trash-can"
														></i>
													</span>
												</div>
											</button>
											<!-- Send -->
											<button mat-menu-item>
												<div>
													<span class="send-link"
														>Send
														<i
															class="fa-sharp fa-solid fa-paper-plane"
														></i>
													</span>
												</div>
											</button>
										</mat-menu>
									</div>
								</div>
								<div class="post-h-createdAt">
									<span>{{ post.createdAt | date }}</span> |
									<span>{{
										post.createdAt | date : "shortTime"
									}}</span>
								</div>
							</div>
							<div class="post-body">
								<h3>{{ post.title }}</h3>
								<div>
									{{ post.body }}
								</div>
							</div>
							<div class="post-body-like-comment">
								<div class="likes">
									<div>
										<i class="fa-solid fa-thumbs-up"></i>
									</div>
									<div>
										{{ post.likes }}
									</div>
								</div>
								<div class="comments">
									<span
										>{{
											post.comments.length
										}}
										comments</span
									>
								</div>
							</div>
						</div>
					</div>
				</section>
			</mat-tab>
			<!-- Photos -->
			<mat-tab label="Photos">
				<div class="example-large-box mat-elevation-z4">
					<img src="/assets/images/gym2.jpg" alt="gym-jpg" />
				</div>
				<div class="example-large-box mat-elevation-z4">
					<img src="/assets/images/gym3.jpg" alt="gym-jpg" />
				</div>
				<div class="example-large-box mat-elevation-z4">
					<img src="/assets/images/gym4.webp" alt="gym-jpg" />
				</div>
				<div class="example-large-box mat-elevation-z4">
					<img src="/assets/images/gym5.avif" alt="gym-jpg" />
				</div>
			</mat-tab>
			<!-- Videos -->
			<mat-tab label="Videos">
				<div class="example-large-box mat-elevation-z4">Video 1</div>
				<div class="example-large-box mat-elevation-z4">Video 2</div>
				<div class="example-large-box mat-elevation-z4">Video 3</div>
				<div class="example-large-box mat-elevation-z4">Video 4</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</section>

<!-- ngx-smart-modal -->
<ngx-smart-modal
	#myModal
	identifier="myModal"
	[closable]="false"
	[dismissable]="false"
	[escapable]="true"
>
	<div class="container">
		<div *ngIf="myModal.hasData()">
			<pre>{{ myModal.getData().prop1 }}</pre>
		</div>

		<form
			class="form-container"
			[formGroup]="userProfileForm"
			(ngSubmit)="onFormSubmit()"
		>
			<div *ngIf="user" class="name__wrapper_ngx">
				<p>{{ user.firstName }} {{ user.lastName }}</p>
			</div>

			<div class="form-group">
				<mat-form-field>
					<label for="gymNickname">Gym nick-name</label>
					<input
						type="text"
						class="form-control"
						matInput
						id="gymNickname"
						placeholder="enter gym nick-name"
						formControlName="gymNickname"
					/>
				</mat-form-field>
				<mat-error *ngIf="userProfileForm.controls.gymNickname.invalid"
					>Invalid gym nick-name
				</mat-error>
			</div>
			<div class="form-group fg2">
				<mat-form-field>
					<mat-select placeholder="Country" formControlName="country">
						<mat-option
							*ngFor="let country of countriesArray"
							[value]="country.viewValue"
						>
							{{ country.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<label for="city">City</label>
					<input
						type="text"
						class="form-control"
						matInput
						id="city"
						placeholder="enter city"
						formControlName="city"
					/>
				</mat-form-field>
				<mat-error *ngIf="userProfileForm.controls.city.invalid"
					>Invalid city name
				</mat-error>
			</div>
			<div class="form-group">
				<label for="about">About</label>
				<textarea
					placeholder="enter post about"
					id="about"
					rows="5"
					class="form-control"
					formControlName="about"
				></textarea>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					(click)="closeModal('myModal')"
					class="btn btn-secondary"
					data-dismiss="modal"
				>
					Close
				</button>
				<button
					type="submit"
					(click)="updateUser()"
					class="btn btn-primary"
				>
					Update
				</button>
			</div>
		</form>
	</div>
</ngx-smart-modal>
<!-- end of ngx-smart-modal -->
