@import "variables";

:host {
	section {
		padding: 4rem 10rem;
		display: flex;
		align-items: center;
		justify-content: center;

		div {
			width: auto;
			font-size: 18px;

			p {
				margin: 0 0 40px;
			}
		}
	}

	@media only screen and (max-width: 900px) {
		section {
			padding: 2rem 2rem;
		}
	}
}
