<mat-nav-list>
	<ng-container
		*ngIf="isAuth$ | async; then accessAllowed; else accessDenied"
	></ng-container>
	<ng-template #accessAllowed>
		<a mat-list-item routerLink="#" (click)="onClose()">
			<mat-icon>face</mat-icon><span class="nav__caption">Profile</span>
		</a>
		<a mat-list-item routerLink="#" (click)="onClose()"
			><mat-icon>explore</mat-icon
			><span class="nav__caption">Explore</span></a
		>
		<a mat-list-item routerLink="/training" (click)="onClose()"
			><mat-icon>fitness_center</mat-icon
			><span class="nav__caption">Training</span></a
		>
		<a mat-list-item (click)="onClose()" (click)="onLogout()"
			><mat-icon>power_settings_new</mat-icon
			><span class="nav__caption">Logout</span></a
		>
	</ng-template>
	<ng-template #accessDenied>
		<a mat-list-item routerLink="/auth/signup" (click)="onClose()"
			><mat-icon>face</mat-icon
			><span class="nav__caption">Signup</span></a
		>
		<a mat-list-item routerLink="/auth/login" (click)="onClose()"
			><mat-icon>input</mat-icon
			><span class="nav__caption">Login</span></a
		>
	</ng-template>
</mat-nav-list>
